*{
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

main section,footer{
    padding: 2em;
}

h1{
    font-size: 4em;
    font-family: 'Josefin Sans', sans-serif;
}

h2{
    font-size: 2em;
    font-family: 'Sofia', cursive;
}

p{
    font-weight: 700;
}

i{
    transition: color 3s, background-color 1s;
}

#figures{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

#figures figure:hover i{
color: rgb(212, 135, 167);
}

#services i{

    font-size: 8em;
}

#home{
    background-color: rgb(212, 135, 167);
    
}

#home h1,p{
    padding: 20px;
}

#home p{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 50%;
    margin-bottom: 20px;
}

#home button{
    padding: 15px 50px 15px 50px;
    background-color: black;
    color: rgb(212, 135, 167);
    border: none;
    font-weight: bolder;
    font-size: large;
}

#home button:hover{
    cursor: pointer;
    color: black;
    background-color: white;
    transition: color 3s, background-color 2s, border 1s;
    border: 3px solid black;
}

#contact{
    background-color: rgb(102, 188, 223);
}

#contact i{
    margin: 20px 10px;
    font-size: 3em;
    border-radius: 50px;
    border: 1px solid black;
    padding: 18px 23px;
}

#contact i:hover{
    background-color: #222;
    color: #FCDEA6;
    cursor: pointer;
}

footer{
    background-color: rgb(39, 39, 39);
    color: white;   
}

footer i{
    font-size: 1.3em;
    margin: 0 5px;
}

footer:hover i{
    color: rgb(235, 29, 2);;
}

